<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="contactForm">
            <form action="https://formsubmit.co/9d5b0359a9d18be6645da32e295b49c0" method="POST">
                <div class="px-10 my-7 text-center">
                    <h1 class="display-5 fw-bold">Contact us!</h1>
                    <div class="col-lg-6 mx-auto">
                      <p class="lead">We are willing to hear from you and can't wait to find new ways to make your experience better.</p>
                    </div>
                  </div>
                
                        <div class="col-12">
                          <label for="email" class="form-label">Email</label>
                          <input name="email" id="email" class="form-control">
                        </div>
                
                        <div class="col-12">
                          <label for="name" class="form-label">Name</label>
                          <input name="name" id="name" class="form-control" required>
                        </div>
                        
                        <div class="col-12">
                          <label for="description" class="form-label">Review</label>
                          <textarea name="message" id="message" class="form-control" cols="30" rows="4"></textarea>
                        </div>                                                          
                
                        <div class="col-12 py-5">
                          <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                      </div>            
                     
            </form>
        </div>
        
    </body>
</html>